@import url(/styles/global.css);

/*https://coolors.co/palette/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0*/
* {
    font-family: var(--ff-primary)
}

body {
    background-color: wheat;
    color: var();
    font-weight: 500;
    /*display: flex;*/
    min-height: 100vh;
    min-width: 100vw;
}

/*
main {
    margin-left: 30%;
    /*EU*-/
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
}
*/
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10%;
}



main h1 {
    color: var(--clr-primary);
    font-size: 3rem;
    margin-bottom: 1rem;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 4.6rem;
}

main form label {
    font-size: 1.1rem;
    margin-top: 2rem;

}

main form input {
    background: var(--clr-second);
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
    color: var(--clr-primary);
    font-weight: 1000;
    font-size: 1rem;
    border: 1px solid var(--clr-primary);
    border-radius: 8px;
}

main form textarea {
    background: var(--clr-second);
    width: 80%;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
    color: var(--clr-primary);
    font-weight: 1000;
    font-size: 1rem;
    border: 1px solid var(--clr-primary);
    border-radius: 8px;
    resize: none;
    min-width: 300px;
}


main form button {
    cursor: pointer;
    width: 20%;
    margin-top: 3rem;
    border: 0;
    border-radius: 32px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    font-weight: 1000;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    min-width: 200px;
}

main form button:hover {
    color: var(--clr-second);
}