@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

/*https://coolors.co/palette/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0*/

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10%;
}


.container-products {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: wheat;
}

.products {
    margin-right: 10%;
    margin-top: 10%;
    text-decoration: none;
}